# Operating System files
.DS_Store
Thumbs.db

# Environment variables / Secrets / Keys
.env
*.pem
*.key

# Dependencies (Node.js, Python, etc.)
.vscode/
node_modules/
__pycache__/
.venv/
env/

# Build outputs and logs
dist/
build/
results/
*.log
.gitignore

# test files 
JD_test_2.py
test_synthetic.py
test_with_smoothed.py